
<div class="carousel">
   
   <button class="carouselNext">&#187;</button>
   <button class="carouselPrev">&#171;</button>
   
   <ul>
      
      <li class="slide" id="active"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      
   </ul>
   
</div>

<section class="intro container">
   
   <h1 class="fade">Bienvenue !</h1>
   
   <video autoplay muted loop>
      <source src="/assets/video/presentation.mp4" type="video/mp4">
      Your browser does not support the video tag
   </video>
   
   <!--<div class="fade">-->
      
      <div class="fade"></div>
      
      <article class="fade">
         
         <h3>
            Moi, c’est <span>Sarah</span>, petit beurre du pays nantais !
         </h3>
         
         <p>
            Vous devez vous demander : « Pourquoi Cuisse de Poupou ? Pourquoi un raton laveur ? »
            Pour le poulet/frites devant Walter Texas Ranger le dimanche midi
            et c’est mon animal totem.
            
         </P>
         <p>
            Quand j'étais petite je voulais être dessinatrice. Aujourd’hui, s’il faut coller une étiquette sur ce
            que je « suis », on peut dire que je suis autodidacte (en devenir) en tant
            qu’illustratrice/portraitiste/DA (Directrice Artistique).
         </p>
         
      </article>
      
   <!--</div>-->

</section>
