
<section class="carousel">
   
   <button class="carouselNext">&#187;</button>
   <button class="carouselPrev">&#171;</button>
   
   <ul>
      
      <li class="slide" id="active"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      
   </ul>
   
</section>

<section class="intro">
   
   <video autoplay muted loop>
      <source src="/assets/video/presentation.mp4" type="video/mp4">
      Your browser does not support the video tag
   </video>
   
   <article class="fade">
      
      <h1>Bienvenue !</h1>
      
      <div></div>
      
      <div>
         <p>
            Moi, c’est Sarah, pur petit beurre du pays nantais !
         </p>
         <p>
            Vous devez vous demander : « Pourquoi Cuisse de Poupou ? Pourquoi un raton
            laveur ? C’est mon animal totem : Bon mangeur et Chipe les trucs dont les gens se débarrasse !
            Mon job de rêve c’était « dessinatrice ». Aujourd’hui, s’il faut coller une étiquette sur ce que je «suis » on peut dire illustratrice/Directrice Artistique en devenir en tant qu’autodidacte.
         </p>
         
      </div>
      
      
      
      
   </article>

</section>
